=begin
#Tatum API

## Authentication  <!-- ReDoc-Inject: <security-definitions> -->

OpenAPI spec version: 3.9.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.31
=end

module SwaggerClient
  class BlockchainEthereumApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Invoke Smart Contract method
    # <h4>2 credits per API call.</h4><br/> <p>Invoke any method on an existing Smart Contract. It is possibleto call read or write method on the Smsrt Contract defined via contractAddress. For read operations, data is returned, for write operations, transaction Id of the associated transaction is returned.<br/> This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key. No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production, <a href=\"https://github.com/tatumio/tatum-kms\" target=\"_blank\">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request. Alternatively, using the Tatum client library for supported languages.</p> 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [InlineResponse20016]
    def eth_blockchain_smart_contract_invocation(body, opts = {})
      data, _status_code, _headers = eth_blockchain_smart_contract_invocation_with_http_info(body, opts)
      data
    end

    # Invoke Smart Contract method
    # &lt;h4&gt;2 credits per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Invoke any method on an existing Smart Contract. It is possibleto call read or write method on the Smsrt Contract defined via contractAddress. For read operations, data is returned, for write operations, transaction Id of the associated transaction is returned.&lt;br/&gt; This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key. No one should ever send it&#x27;s own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production, &lt;a href&#x3D;\&quot;https://github.com/tatumio/tatum-kms\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Tatum KMS&lt;/a&gt; should be used for the highest security standards, and signatureId should be present in the request. Alternatively, using the Tatum client library for supported languages.&lt;/p&gt; 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(InlineResponse20016, Integer, Hash)>] InlineResponse20016 data, response status code and response headers
    def eth_blockchain_smart_contract_invocation_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_blockchain_smart_contract_invocation ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_blockchain_smart_contract_invocation"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/smartcontract'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20016' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_blockchain_smart_contract_invocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Send Ethereum / ERC20 from account to account
    # <h4>2 credits per API call.</h4><br/> <p>Send Ethereum or Tatum supported ERC20 token from account to account.<br/><br/> This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key. No one should ever send it's own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production, <a href=\"https://github.com/tatumio/tatum-kms\" target=\"_blank\">Tatum KMS</a> should be used for the highest security standards, and signatureId should be present in the request. Alternatively, using the Tatum client library for supported languages. </p> 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [InlineResponse2005]
    def eth_blockchain_transfer(body, opts = {})
      data, _status_code, _headers = eth_blockchain_transfer_with_http_info(body, opts)
      data
    end

    # Send Ethereum / ERC20 from account to account
    # &lt;h4&gt;2 credits per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Send Ethereum or Tatum supported ERC20 token from account to account.&lt;br/&gt;&lt;br/&gt; This operation needs the private key of the blockchain address. Every time the funds are transferred, the transaction must be signed with the corresponding private key. No one should ever send it&#x27;s own private keys to the internet because there is a strong possibility of stealing keys and loss of funds. In this method, it is possible to enter privateKey or signatureId. PrivateKey should be used only for quick development on testnet versions of blockchain when there is no risk of losing funds. In production, &lt;a href&#x3D;\&quot;https://github.com/tatumio/tatum-kms\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Tatum KMS&lt;/a&gt; should be used for the highest security standards, and signatureId should be present in the request. Alternatively, using the Tatum client library for supported languages. &lt;/p&gt; 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(InlineResponse2005, Integer, Hash)>] InlineResponse2005 data, response status code and response headers
    def eth_blockchain_transfer_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_blockchain_transfer ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_blockchain_transfer"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/transaction'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse2005' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_blockchain_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Broadcast signed Ethereum transaction
    # <h4>2 credits per API call.</h4><br/> <p>Broadcast signed transaction to Ethereum blockchain. This method is used internally from Tatum KMS, Tatum Middleware or Tatum client libraries. It is possible to create custom signing mechanism and use this method only for broadcasting data to the blockchian.</p> 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [TransactionHashKMS]
    def eth_broadcast(body, opts = {})
      data, _status_code, _headers = eth_broadcast_with_http_info(body, opts)
      data
    end

    # Broadcast signed Ethereum transaction
    # &lt;h4&gt;2 credits per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Broadcast signed transaction to Ethereum blockchain. This method is used internally from Tatum KMS, Tatum Middleware or Tatum client libraries. It is possible to create custom signing mechanism and use this method only for broadcasting data to the blockchian.&lt;/p&gt; 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(TransactionHashKMS, Integer, Hash)>] TransactionHashKMS data, response status code and response headers
    def eth_broadcast_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_broadcast ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_broadcast"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/broadcast'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'TransactionHashKMS' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Estimate ethereum transaction fees
    # <h4>2 credits per API call.</h4><br/> <p>Estimate gasLimit and gasPrice of the Ethereum transaction. Gas price is obtained from multiple sources + calculated based on the latest N blocks and the current mempool state. The <b>fast</b> one is used by default. </p> 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [InlineResponse20014]
    def eth_estimate_gas(body, opts = {})
      data, _status_code, _headers = eth_estimate_gas_with_http_info(body, opts)
      data
    end

    # Estimate ethereum transaction fees
    # &lt;h4&gt;2 credits per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Estimate gasLimit and gasPrice of the Ethereum transaction. Gas price is obtained from multiple sources + calculated based on the latest N blocks and the current mempool state. The &lt;b&gt;fast&lt;/b&gt; one is used by default. &lt;/p&gt; 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(InlineResponse20014, Integer, Hash)>] InlineResponse20014 data, response status code and response headers
    def eth_estimate_gas_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_estimate_gas ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_estimate_gas"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/gas'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20014' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_estimate_gas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Estimate multiple transaction fees
    # <h4>2 credits per API call + 2 credits per each gas estimation.</h4><br/> <p>Estimate gasLimit and gasPrice of the Ethereum transaction. Gas price is obtained from multiple sources + calculated based on the latest N blocks and the current mempool state. The <b>fast</b> one is used by default.<br/> Result is calculated  in the order of the request array items. </p> 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [InlineResponse20015]
    def eth_estimate_gas_batch(body, opts = {})
      data, _status_code, _headers = eth_estimate_gas_batch_with_http_info(body, opts)
      data
    end

    # Estimate multiple transaction fees
    # &lt;h4&gt;2 credits per API call + 2 credits per each gas estimation.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Estimate gasLimit and gasPrice of the Ethereum transaction. Gas price is obtained from multiple sources + calculated based on the latest N blocks and the current mempool state. The &lt;b&gt;fast&lt;/b&gt; one is used by default.&lt;br/&gt; Result is calculated  in the order of the request array items. &lt;/p&gt; 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(InlineResponse20015, Integer, Hash)>] InlineResponse20015 data, response status code and response headers
    def eth_estimate_gas_batch_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_estimate_gas_batch ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_estimate_gas_batch"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/gas/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'InlineResponse20015' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_estimate_gas_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generate Ethereum account address from Extended public key
    # <h4>1 credit per API call.</h4><br/> <p>Generates an Ethereum account deposit address from an Extended public key. The deposit address is generated for the specific index - each extended public key can generate up to 2^31 addresses starting from index 0 until 2^31 - 1.</p> 
    # @param xpub Extended public key of wallet.
    # @param index Derivation index of the address to be generated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [InlineResponse20012]
    def eth_generate_address(xpub, index, opts = {})
      data, _status_code, _headers = eth_generate_address_with_http_info(xpub, index, opts)
      data
    end

    # Generate Ethereum account address from Extended public key
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Generates an Ethereum account deposit address from an Extended public key. The deposit address is generated for the specific index - each extended public key can generate up to 2^31 addresses starting from index 0 until 2^31 - 1.&lt;/p&gt; 
    # @param xpub Extended public key of wallet.
    # @param index Derivation index of the address to be generated.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(InlineResponse20012, Integer, Hash)>] InlineResponse20012 data, response status code and response headers
    def eth_generate_address_with_http_info(xpub, index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_generate_address ...'
      end
      # verify the required parameter 'xpub' is set
      if @api_client.config.client_side_validation && xpub.nil?
        fail ArgumentError, "Missing the required parameter 'xpub' when calling BlockchainEthereumApi.eth_generate_address"
      end
      # verify the required parameter 'index' is set
      if @api_client.config.client_side_validation && index.nil?
        fail ArgumentError, "Missing the required parameter 'index' when calling BlockchainEthereumApi.eth_generate_address"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/address/{xpub}/{index}'.sub('{' + 'xpub' + '}', xpub.to_s).sub('{' + 'index' + '}', index.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20012' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_generate_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generate Ethereum private key
    # <h4>1 credit per API call.</h4><br/> <p>Generates the private key of an address from a mnemonic for a given derivation path index. The private key is generated for the specific index - each mnemonic can generate up to 2^32 private keys starting from index 0 until 2^31 - 1.</p> 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [PrivKey]
    def eth_generate_address_private_key(body, opts = {})
      data, _status_code, _headers = eth_generate_address_private_key_with_http_info(body, opts)
      data
    end

    # Generate Ethereum private key
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Generates the private key of an address from a mnemonic for a given derivation path index. The private key is generated for the specific index - each mnemonic can generate up to 2^32 private keys starting from index 0 until 2^31 - 1.&lt;/p&gt; 
    # @param body 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(PrivKey, Integer, Hash)>] PrivKey data, response status code and response headers
    def eth_generate_address_private_key_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_generate_address_private_key ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_generate_address_private_key"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/wallet/priv'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'PrivKey' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_generate_address_private_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Generate Ethereum wallet
    # <h4>1 credit per API call.</h4><br/><p>Tatum supports BIP44 HD wallets. Because they can generate 2^31 addresses from 1 mnemonic phrase, they are very convenient and secure. A mnemonic phrase consists of 24 special words in a defined order and can restore access to all generated addresses and private keys.<br/>Each address is identified by 3 main values:<ul><li>Private Key - your secret value which should never be revealed</li><li>Public Key - a public address to be published</li><li>Derivation index - an index of generated address</li></ul></p><p>Tatum follows the BIP44 specification and generates for Ethereum wallets with the derivation path m'/44'/60'/0'/0. More about BIP44 HD wallets can be found here - <a target=\"_blank\" href=\"https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki\">https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki</a>. Generates a BIP44 compatible Ethereum wallet.</p> 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mnemonic Mnemonic to use for generating extended public and private keys.
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [Wallet]
    def eth_generate_wallet(opts = {})
      data, _status_code, _headers = eth_generate_wallet_with_http_info(opts)
      data
    end

    # Generate Ethereum wallet
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt;&lt;p&gt;Tatum supports BIP44 HD wallets. Because they can generate 2^31 addresses from 1 mnemonic phrase, they are very convenient and secure. A mnemonic phrase consists of 24 special words in a defined order and can restore access to all generated addresses and private keys.&lt;br/&gt;Each address is identified by 3 main values:&lt;ul&gt;&lt;li&gt;Private Key - your secret value which should never be revealed&lt;/li&gt;&lt;li&gt;Public Key - a public address to be published&lt;/li&gt;&lt;li&gt;Derivation index - an index of generated address&lt;/li&gt;&lt;/ul&gt;&lt;/p&gt;&lt;p&gt;Tatum follows the BIP44 specification and generates for Ethereum wallets with the derivation path m&#x27;/44&#x27;/60&#x27;/0&#x27;/0. More about BIP44 HD wallets can be found here - &lt;a target&#x3D;\&quot;_blank\&quot; href&#x3D;\&quot;https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki\&quot;&gt;https://github.com/bitcoin/bips/blob/master/bip-0044.mediawiki&lt;/a&gt;. Generates a BIP44 compatible Ethereum wallet.&lt;/p&gt; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :mnemonic Mnemonic to use for generating extended public and private keys.
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(Wallet, Integer, Hash)>] Wallet data, response status code and response headers
    def eth_generate_wallet_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_generate_wallet ...'
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/wallet'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'mnemonic'] = opts[:'mnemonic'] if !opts[:'mnemonic'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Wallet' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_generate_wallet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Ethereum account balance
    # <h4>1 credit per API call.</h4><br/><p>Gets an Ethereum account balance in ETH. This method does not display the balance of ERC20 or ERC721 tokens in the account.</p>
    # @param address Account address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [InlineResponse20013]
    def eth_get_balance(address, opts = {})
      data, _status_code, _headers = eth_get_balance_with_http_info(address, opts)
      data
    end

    # Get Ethereum account balance
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt;&lt;p&gt;Gets an Ethereum account balance in ETH. This method does not display the balance of ERC20 or ERC721 tokens in the account.&lt;/p&gt;
    # @param address Account address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(InlineResponse20013, Integer, Hash)>] InlineResponse20013 data, response status code and response headers
    def eth_get_balance_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_balance ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling BlockchainEthereumApi.eth_get_balance"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/account/balance/{address}'.sub('{' + 'address' + '}', address.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'InlineResponse20013' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Ethereum block by hash
    # <h4>1 credit per API call.</h4><br/><p>Gets an Ethereum block-by-block hash or block number.</p>
    # @param hash Block hash or block number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [EthBlock]
    def eth_get_block(hash, opts = {})
      data, _status_code, _headers = eth_get_block_with_http_info(hash, opts)
      data
    end

    # Get Ethereum block by hash
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt;&lt;p&gt;Gets an Ethereum block-by-block hash or block number.&lt;/p&gt;
    # @param hash Block hash or block number
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(EthBlock, Integer, Hash)>] EthBlock data, response status code and response headers
    def eth_get_block_with_http_info(hash, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_block ...'
      end
      # verify the required parameter 'hash' is set
      if @api_client.config.client_side_validation && hash.nil?
        fail ArgumentError, "Missing the required parameter 'hash' when calling BlockchainEthereumApi.eth_get_block"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/block/{hash}'.sub('{' + 'hash' + '}', hash.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EthBlock' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get current block number
    # <h4>1 credit per API call.</h4><br/><p>Gets the current Ethereum block number. This is the number of the latest block in the blockchain.</p>
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [BigDecimal]
    def eth_get_current_block(opts = {})
      data, _status_code, _headers = eth_get_current_block_with_http_info(opts)
      data
    end

    # Get current block number
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt;&lt;p&gt;Gets the current Ethereum block number. This is the number of the latest block in the blockchain.&lt;/p&gt;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(BigDecimal, Integer, Hash)>] BigDecimal data, response status code and response headers
    def eth_get_current_block_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_current_block ...'
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/block/current'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BigDecimal' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_current_block\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Ethereum internal transactions by address
    # <h4>1 credit per API call.</h4><br/> <p>Get Ethereum internal transactions by address.<br/></p> 
    # @param address Account address
    # @param page_size Max number of items per page is 50.
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :offset Offset to obtain next page of the data.
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [Array<EthTxInternal>]
    def eth_get_internal_transaction_by_address(address, page_size, opts = {})
      data, _status_code, _headers = eth_get_internal_transaction_by_address_with_http_info(address, page_size, opts)
      data
    end

    # Get Ethereum internal transactions by address
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Get Ethereum internal transactions by address.&lt;br/&gt;&lt;/p&gt; 
    # @param address Account address
    # @param page_size Max number of items per page is 50.
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :offset Offset to obtain next page of the data.
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(Array<EthTxInternal>, Integer, Hash)>] Array<EthTxInternal> data, response status code and response headers
    def eth_get_internal_transaction_by_address_with_http_info(address, page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_internal_transaction_by_address ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling BlockchainEthereumApi.eth_get_internal_transaction_by_address"
      end
      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling BlockchainEthereumApi.eth_get_internal_transaction_by_address"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/account/transaction/erc20/internal/{address}'.sub('{' + 'address' + '}', address.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = page_size
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<EthTxInternal>' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_internal_transaction_by_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Ethereum Transaction
    # <h4>1 credit per API call.</h4><br/><p>Get Ethereum transaction by transaction hash.</p>
    # @param hash Transaction hash
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [EthTx]
    def eth_get_transaction(hash, opts = {})
      data, _status_code, _headers = eth_get_transaction_with_http_info(hash, opts)
      data
    end

    # Get Ethereum Transaction
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt;&lt;p&gt;Get Ethereum transaction by transaction hash.&lt;/p&gt;
    # @param hash Transaction hash
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(EthTx, Integer, Hash)>] EthTx data, response status code and response headers
    def eth_get_transaction_with_http_info(hash, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_transaction ...'
      end
      # verify the required parameter 'hash' is set
      if @api_client.config.client_side_validation && hash.nil?
        fail ArgumentError, "Missing the required parameter 'hash' when calling BlockchainEthereumApi.eth_get_transaction"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/transaction/{hash}'.sub('{' + 'hash' + '}', hash.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'EthTx' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get Ethereum transactions by address
    # <h4>1 credit per API call.</h4><br/><p>Get Ethereum transactions by address. This includes incoming and outgoing transactions for the address.</p>
    # @param address Account address
    # @param page_size Max number of items per page is 50.
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :offset Offset to obtain next page of the data.
    # @option opts [BigDecimal] :from Transactions from this block onwords will be included.
    # @option opts [BigDecimal] :to Transactions up to this block will be included.
    # @option opts [String] :sort Sorting of the data. ASC - oldest first, DESC - newest first. (default to DESC)
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [Array<EthTx>]
    def eth_get_transaction_by_address(address, page_size, opts = {})
      data, _status_code, _headers = eth_get_transaction_by_address_with_http_info(address, page_size, opts)
      data
    end

    # Get Ethereum transactions by address
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt;&lt;p&gt;Get Ethereum transactions by address. This includes incoming and outgoing transactions for the address.&lt;/p&gt;
    # @param address Account address
    # @param page_size Max number of items per page is 50.
    # @param [Hash] opts the optional parameters
    # @option opts [BigDecimal] :offset Offset to obtain next page of the data.
    # @option opts [BigDecimal] :from Transactions from this block onwords will be included.
    # @option opts [BigDecimal] :to Transactions up to this block will be included.
    # @option opts [String] :sort Sorting of the data. ASC - oldest first, DESC - newest first.
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(Array<EthTx>, Integer, Hash)>] Array<EthTx> data, response status code and response headers
    def eth_get_transaction_by_address_with_http_info(address, page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_transaction_by_address ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling BlockchainEthereumApi.eth_get_transaction_by_address"
      end
      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling BlockchainEthereumApi.eth_get_transaction_by_address"
      end
      if @api_client.config.client_side_validation && opts[:'sort'] && !['ASC', 'DESC'].include?(opts[:'sort'])
        fail ArgumentError, 'invalid value for "sort", must be one of ASC, DESC'
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/account/transaction/{address}'.sub('{' + 'address' + '}', address.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pageSize'] = page_size
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'Array<EthTx>' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_transaction_by_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get count of outgoing Ethereum transactions
    # <h4>1 credit per API call.</h4><br/> <p>Get a number of outgoing Ethereum transactions for the address. When a transaction is sent, there can be multiple outgoing transactions, which are not yet processed by the blockchain. To distinguish between them, there is a counter called a nonce, which represents the order of the transaction in the list of outgoing transactions.</p> 
    # @param address address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [BigDecimal]
    def eth_get_transaction_count(address, opts = {})
      data, _status_code, _headers = eth_get_transaction_count_with_http_info(address, opts)
      data
    end

    # Get count of outgoing Ethereum transactions
    # &lt;h4&gt;1 credit per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Get a number of outgoing Ethereum transactions for the address. When a transaction is sent, there can be multiple outgoing transactions, which are not yet processed by the blockchain. To distinguish between them, there is a counter called a nonce, which represents the order of the transaction in the list of outgoing transactions.&lt;/p&gt; 
    # @param address address
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(BigDecimal, Integer, Hash)>] BigDecimal data, response status code and response headers
    def eth_get_transaction_count_with_http_info(address, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_get_transaction_count ...'
      end
      # verify the required parameter 'address' is set
      if @api_client.config.client_side_validation && address.nil?
        fail ArgumentError, "Missing the required parameter 'address' when calling BlockchainEthereumApi.eth_get_transaction_count"
      end
      if @api_client.config.client_side_validation && opts[:'x_testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'x_testnet_type'])
        fail ArgumentError, 'invalid value for "x_testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/transaction/count/{address}'.sub('{' + 'address' + '}', address.to_s)

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'x-testnet-type'] = opts[:'x_testnet_type'] if !opts[:'x_testnet_type'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'BigDecimal' 

      auth_names = opts[:auth_names] || ['X-Api-Key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_get_transaction_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Web3 HTTP driver
    # <h4>2 credits per API call.</h4><br/> <p>Use this endpoint URL as an http-based web3 driver to connect directly to the Ethereum node provided by Tatum. To learn more about Ethereum Web3, please visit <a href=\"https://ethereum.org/en/developers/\" target=\"_blank\">Ethereum developers' guide.</a></p> 
    # @param body 
    # @param x_api_key Tatum X-API-Key used for authorization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :testnet_type Type of Ethereum testnet. Defaults to ropsten. (default to ethereum-ropsten)
    # @return [Object]
    def eth_web3_driver(body, x_api_key, opts = {})
      data, _status_code, _headers = eth_web3_driver_with_http_info(body, x_api_key, opts)
      data
    end

    # Web3 HTTP driver
    # &lt;h4&gt;2 credits per API call.&lt;/h4&gt;&lt;br/&gt; &lt;p&gt;Use this endpoint URL as an http-based web3 driver to connect directly to the Ethereum node provided by Tatum. To learn more about Ethereum Web3, please visit &lt;a href&#x3D;\&quot;https://ethereum.org/en/developers/\&quot; target&#x3D;\&quot;_blank\&quot;&gt;Ethereum developers&#x27; guide.&lt;/a&gt;&lt;/p&gt; 
    # @param body 
    # @param x_api_key Tatum X-API-Key used for authorization.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :testnet_type Type of Ethereum testnet. Defaults to ropsten.
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def eth_web3_driver_with_http_info(body, x_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BlockchainEthereumApi.eth_web3_driver ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling BlockchainEthereumApi.eth_web3_driver"
      end
      # verify the required parameter 'x_api_key' is set
      if @api_client.config.client_side_validation && x_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_api_key' when calling BlockchainEthereumApi.eth_web3_driver"
      end
      if @api_client.config.client_side_validation && opts[:'testnet_type'] && !['ethereum-ropsten', 'ethereum-rinkeby'].include?(opts[:'testnet_type'])
        fail ArgumentError, 'invalid value for "testnet_type", must be one of ethereum-ropsten, ethereum-rinkeby'
      end
      # resource path
      local_var_path = '/v3/ethereum/web3/{xApiKey}'.sub('{' + 'xApiKey' + '}', x_api_key.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'testnetType'] = opts[:'testnet_type'] if !opts[:'testnet_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(body) 

      return_type = opts[:return_type] || 'Object' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BlockchainEthereumApi#eth_web3_driver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
